{# Common template for all login pages #}

<!DOCTYPE html>
<html lang="en">

    <head>
        <base href="/">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>R.I.S.E. System</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/common.css" />
        <link rel="stylesheet" href="/css/login.css" />
    </head>

    <body>
        <div class="h-100 d-flex flex-column flex-md-row">
            <!-- Side Bar -->
            <div id="loginSidebar" class="col-12 col-md-3">
                <img class="sideLogo" src="img/RISE-website-logo-tm-1.png" alt="">
                <div class="sideBgLogo d-none d-sm-block">
                </div>
            </div>
            <!-- Content -->
            <div id="loginContent" class="col d-flex flex-column p-2 gap-3 text-center justify-content-center">
                
                {% block content %}

                <h1>Welcome to<br>
                R.I.S.E. Academy</h1>
                
                {% endblock %}

                </div>
            </div>
            
        </div>
    </body>
        {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
      {% endblock %}


</html>