{# Forgot password page #}

{% extends 'login/common.twig' %}

{% block content %}
    <!-- Forget Password -->

    <div id="fpass">
        <div class="d-flex flex-column flex-shrink-0 p-3">
            <div class="text-center">
                <p class="welcomeText text-center">Forget password?</p>
                <p class="welcomeText-2 m-auto" style="width: 250px;">Enter your email to get the link with
                    instructions</p>
            </div>
            <div class="d-flex justify-content-center">
                <form>
                    <div class="text-start">
                        <label for="email">Email</label>
                        <div class="input-group inShadow">
                            <span class="input-group-text inpIcon"><img
                                    src="img/icons/email.svg" /></span>
                            <input id="fpEmail" class="emailInput " type="text">
                        </div>
                        <div class="d-flex justify-content-start pt-1">
                            <a href="{{ url_for('login') }}" id="backBtn" style=" font-size: 12px; text-decoration: none; color: var(--primary-light-blue);">&lt;&lt; Back</a>
                        </div>
                    </div>
                    <div class="text-center">
                        <input id="getLinkBtn" class="getLinkBtn btn-md" type="submit" value="Get Link" />
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}